<%= form_with model: [chat, message], class: "chat-input-form" do |f| %>
  <div class="chat-input-group">

    <%= f.text_field :content,
        placeholder: "Écrire un message...",
        class: "chat-input",
        autocomplete: "off",
        required: true %>

    <%= f.submit "Envoyer", class: "chat-send-button" %>

  </div>
<% end %>
